<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="largura=largura do dispositivo, escala inicial=1, escala máxima=1">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/global.css">
  <title>Galo-Sorted</title>
</head>
<corpo>
    {{{body}}}
</body>
<script src="/js/numeros.js"></script>
</html>