<h1 translate="no">Galo-Sorted</h1><br>
<main><br>
    <article class="home" id="home">
        <section>
            <figure>
                <img class="img-section" src="/img/premioo.png" alt="foto do premio do sorteio.">
            </figure>
            <article class="mini-card mn-01">
                <section>
                    <img src="/img/star.png" alt="">
                    <p>Valor do Premio</p>
                </section>
                <h3>RS: 2.650</h3>
            </article>
            <article class="mini-card mn-02">
                <figure>
                    <figcaption>
                        <h3 nome="titulo">Valor do Número</h3>
                        <p>RS: 2,00</p>
                    </figcaption>
                </figure>
            </article>
        </section>
    </article>
    <!--NUMEROS A SEREM ESCOLIDOS-->
    <article class="sections" id="about-us">
        <table id="number-table"></table>

        <!-- Chame a função quando a página for carregada -->
        <script>
            // Chame a função quando a página for carregada

            document.addEventListener("DOMContentLoaded", function () {
                initializePage();
            });
        </script>


    </article><br>
    <button id="toggleSelection">Comprar Agora</button>

</main>
<footer>
    <section class="logo">
        <img id="imglogo" src="/img/logo.png" alt="logo">
    </section>
    </section>
    <p>Copyright @ 2023 Mestregcg.</p>
    </section>
</footer>